
/* Conference */

.conference {
  margin-bottom: 3rem;
}

.conference__title {
  font-family: "ProximaNovaCondensedExtrabold";
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.conference__subtitle {
  color: #652D90;
  display: block;
}

.conference__info {
  font-size: 2rem;
}



/* Speakers */

.speakers {
  margin-bottom: 3rem;
}

.speakers__list {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.speaker {
  flex-grow: 1;
  max-width: 25%;
  min-width: 25%;
  padding: 0.5rem;
}

@media (max-width: 60rem) {
  .speaker {
    max-width: 50%;
    min-width: 50%;
  }
}

@media (max-width: 30rem) {
  .speaker {
    max-width: 100%;
    min-width: 100%;
  }
}

.speaker__card {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0,.1),0 0 2px rgba(0, 0, 0,.1);
  display: block;
  transition: transform .24s, box-shadow .24s;
}

.speaker__card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0,.1),0 0 2px rgba(0, 0, 0,.1);
  transform: translateY(-4px);
}

.speaker__picture {
  background-image: linear-gradient(45deg, #262261, #652D90);
  background-position: center;
  background-size: cover;
  min-height: 12.5rem;
  min-width: 12.5rem;
}

.speaker__info {
  padding: 0.5rem;
}

.speaker__name {
  color: #000;
  margin-bottom: 0.25rem;
}

.speaker__company {
  font-size: 0.875rem;
  color: #652D90;
}



/* Communities */

.communities {
  margin: 3rem 0 2rem 0;
}

.communities__list {
  display: flex;
  flex-wrap: wrap;
}

.community {
  flex-grow: 1;
  margin-bottom: 1rem;
  max-width: 25%;
  min-width: 25%;
}

@media (max-width: 60rem) {
  .community {
    max-width: 50%;
    min-width: 50%;
  }
}

@media (max-width: 30rem) {
  .community {
    max-width: 100%;
    min-width: 100%;
  }
}

.community__card {
  display: inline-block;
}

.community__logo {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: auto;
  margin-bottom: .25rem;
  max-width: 12.5rem;
  transition: border .24s;
}

.community__card:hover .community__logo {
  border: 1px solid #652D90;
}

.community__name {
  color: #ccc;
  text-align: center;
  transition: color .24s;
}

.community__card:hover .community__name {
  color: #652D90;
}



/* Tickets */

.tickets {
  margin-bottom: 3rem;
}

.tickets__iframe {
  border: 0;
  height: 1300px;
  width: 100%;
}



/* Media partners */

.media-partners {
  margin: 3rem 0 2rem 0;
}

.media-partners__list {
  display: flex;
  flex-wrap: wrap;
}

.media-partner {
  flex-grow: 1;
  margin-bottom: 1rem;
  max-width: 20%;
  min-width: 20%;
}

@media (max-width: 60rem) {
  .media-partner {
    max-width: 33%;
    min-width: 33%;
  }
}

@media (max-width: 30rem) {
  .media-partner {
    max-width: 100%;
    min-width: 100%;
  }
}

.media-partner__card {
  align-items: center;
  border-radius: 2px;
  border: 1px solid #ccc;
  display: inline-flex;
  height: 100%;
  transition: border .24s;
}

.media-partner__logo {
  height: auto;
  max-width: 9rem;
  padding: .25rem;
}

.media-partner__card:hover {
  border: 1px solid #652D90;
}



/* Mailing list */

.mailing-list {
  background-color: rgba(38, 34, 97, 0.4);
  font-size: 1.5rem;
  padding: 2.5rem 0;
}

.mailing-list__content {
  display: flex;
}

@media (max-width: 60rem) {
  .mailing-list__content {
    flex-direction: column;
    text-align: center;
  }
}

.mailing-list__description {
  line-height: 1.2;
}

@media (max-width: 60rem) {
  .mailing-list__description {
    margin-bottom: 1.5rem;
  }
}

.mailing-list__subscribe {
  font-weight: bold;
}

.mailing-list__form {
  align-self: center;
  margin-left: auto;
}

@media (max-width: 60rem) {
  .mailing-list__form {
    margin-left: 0;
  }
}

.mailing-list__input {
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid #652D90;
  font-size: inherit;
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 60rem) {
  .mailing-list__input {
    margin-bottom: 0.5rem;
  }
}

.mailing-list__button {
  -webkit-appearance: none;
  background-color: #652D90;
  border-radius: 2px;
  border: 1px solid #652D90;
  color: #fff;
  font-size: inherit;
  margin: 0;
  padding: 0.5rem;
}
