/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "ProximaNovaCondensedExtrabold";
  src: url("../fonts/ProximaNovaCond-Xbold-webfont.eot");
  src: url("../fonts/ProximaNovaCond-Xbold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNovaCond-Xbold-webfont.woff") format("woff"),
    url("../fonts/ProximaNovaCond-Xbold-webfont.ttf") format("truetype"),
   url("../fonts/ProximaNovaCond-Xbold-webfont.svg#ProximaNovaCondensedExtrabold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@keyframes pulsate {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1.0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.section-title {
  font-family: "ProximaNovaCondensedExtrabold";
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}



/* Past Editions */

.past-editions {
  background-color: #000;
  font-size: 0.875rem;
  padding: 0.5rem 0;
  text-align: right;
}

.past-editions__title {
  color: #ccc;
}

@media (max-width: 30rem) {
  .past-editions__title {
    display: none;
  }
}

.past-editions__link {
  color: #8c68cb;
  margin-left: 0.5rem;
}



/* Header */

.header {
  background-image: linear-gradient(to right, #262261, #652D90);
  padding: 2.5rem 0;
}

.header__content {
  align-items: center;
  display: flex;
}

@media (max-width: 30rem) {
  .header__content {
    align-items: center;
    flex-direction: column;
  }
}

.header__extra {
  margin-left: auto;
  text-align: center;
}

@media (max-width: 30rem) {
  .header__extra {
    margin-left: 0;
    text-align: center;
  }
}

.header__call-for-papers {
  background-color: #fff;
  border: 4px dotted #8c68cb;
  color: #262261;
  display: inline-block;
  font-family: "ProximaNovaCondensedExtrabold";
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__call-for-papers:hover {
  animation: pulsate .5s ease-out infinite;
}

.header__call-for-papers--accent {
  color: #8c68cb;
  display: block;
  font-style: italic;
  margin-top: 0.25rem;
}



/* Menu */

.menu {
  border-bottom: 1px solid #652D90;
  margin-bottom: 3rem;
  transition: box-shadow .24s
}

.menu:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1);
}

.menu__items {
  display: flex;
}

@media (max-width: 30rem) {
  .menu__items {
    flex-direction: column;
    margin: 0 -1rem;
  }
}

.menu__item {
  color: #652D90;
  cursor: pointer;
  padding: 0.75rem 2.25rem;
  text-transform: uppercase;
  transition: background-color .24s, color .24s;
}

.menu__item:hover {
  background-color: #652D90;
  color: #fff;
}

@media (max-width: 30rem) {
  .menu__item {
    flex-grow: 1;
  }
}



/* Footer */

.footer {
  background-color: rgba(38, 34, 97, 0.8);
  color: #fff;
  font-size: 0.875rem;
  padding: 2.5rem 0;
}

.footer__content {
  align-items: center;
  display: flex;
}

@media (max-width: 30rem) {
  .footer__content {
    flex-direction: column;
    text-align: center;
  }

  .footer__extra {
    margin-bottom: 1.5rem;
  }
}

.footer__copy {
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.footer__link {
  color: #fff;
  font-weight: bold;
}

.footer__contact {
  color: #ccc;
  margin-bottom: 2rem;
}

.footer__social {
  color: #000;
  margin-right: 0.5rem;
}

.footer__grusp {
  margin-left: auto;
}

@media (max-width: 30rem) {
  .footer__grusp {
    margin-left: 0;
  }
}

.footer__logo {
  height: 150px;
  width: 150px;
}

/* Sponsors */

.sponsors {
  margin: 3rem 0 2rem 0;
}

.sponsors__list {
  display: flex;
  flex-wrap: wrap;
}

.sponsor {
  flex-grow: 1;
  margin-bottom: 1rem;
  max-width: 25%;
  min-width: 25%;
}

@media (max-width: 60rem) {
  .sponsor {
    max-width: 50%;
    min-width: 50%;
  }
}

@media (max-width: 30rem) {
  .sponsor {
    max-width: 100%;
    min-width: 100%;
  }
}

.sponsor__card {
  display: inline-block;
  position: relative;
}

.sponsor__card:hover .sponsor__logo {
  border-color: #652D90;
}

.sponsor__package {
  background-color: #652D90;
  color: #fff;
  font-family: "ProximaNovaCondensedExtrabold";
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  padding: 0.1rem 0.2rem 0.1rem 0.25rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

.sponsor__logo {
  border-radius: 2px;
  border: 1px solid #ddd;
  max-width: 12.5rem;
  min-width: 12.5rem;
  height: auto;
  transition: border-color .24s;
}

/* Diamond */

.sponsor--diamond .sponsor__package {
  background-color: #000;
}

.sponsor--diamond .sponsor__card:hover .sponsor__logo {
  border-color: #000;
}

/* Platinum */

.sponsor--platinum .sponsor__package {
  background-color: #617cbe;
}

.sponsor--platinum .sponsor__card:hover .sponsor__logo {
  border-color: #617cbe;
}

/* Gold */

.sponsor--gold .sponsor__package {
  background-color: #dbb541;
}

.sponsor--gold .sponsor__card:hover .sponsor__logo {
  border-color: #dbb541;
}

/* Silver */

.sponsor--silver .sponsor__package {
  background-color: #bfbfbf;
}

.sponsor--silver .sponsor__card:hover .sponsor__logo {
  border-color: #bfbfbf;
}

/* Bronze */

.sponsor--bronze .sponsor__package {
  background-color: #7b7058;
}

.sponsor--bronze .sponsor__card:hover .sponsor__logo {
  border-color: #7b7058;
}
